.aboutBox {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.box {
  width: 70%;
}

.text {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1278px) {
  .aboutBox {
    width: 90vw;
  }

  .box {
    width: 100%;
  }

  .text {
    font-size: 1rem;
  }
}

