<div class="aboutBox">
  <div class="box" style="margin-top: 10%">
    <h1 class="text" [@enter]>WELCOME TO OMINBOMIN, WHERE WE OFFER A UNIQUE
      SELECTION
      OF
      DIGITAL
      ART PIECES TO SUIT YOUR TASTE AND STYLE. WE
      UNDERSTAND THAT ART IS NOT JUST A MATERIAL OBJECT, BUT A WAY TO EXPRESS YOURSELF, TO TELL A STORY AND EVOKE
      EMOTIONS.
      THAT'S WHY OMINBOMIN SPECIALIZES IN DIGITAL ART, MAKING IT ACCESSIBLE TO EVERYONE, NO MATTER WHERE YOU ARE.
    </h1>

    <h1 class="text" [@slowEnter]>AT OMINBOMIN, WE BELIEVE THAT ART SHOULD BE
      ACCESSIBLE
      TO
      EVERYONE,
      AND THAT'S WHY WE ARE DEDICATED TO MAKING
      IT
      EASY TO OWN YOUR OWN PIECE OF DIGITAL ART. BROWSE OUR COLLECTION TODAY AND DISCOVER THE PERFECT DIGITAL PIECE TO
      ENHANCE YOUR SPACE AND ELEVATE YOUR STYLE.</h1>
  </div>
</div>
