.productTable {
  height: 60vh;
  width: 60vw;
  overflow-y: auto;
  overflow-x: auto;
}

.smallImage {
  width: 15rem;
  padding: 5px;
}

.productRow {
  background-color: black;
}

.editBtn {
  border: black 1px solid;
  color: black;
  background-color: white;
  border-radius: 5px;
  transition: .5s;
}

.editBtn:hover {
  background-color: black;
  color: white;
}

.width-textArea {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}
