.form {
  display: flex;
  flex-direction: column;
}

.userDetailsBox {
  overflow-y: hidden;
}

.registerBtn {
  margin-top: 5rem;
  background-color: black;
  border: none;
  color: white;
  display: flex;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 0;
  justify-content: center;
}

.registerBtn:active {
  background-color: #2B2826;
  color: white;
}

.registerBtn:hover {
  background-color: #2B2826;
}

@media only screen and (max-width: 962px) {
  .userDetailsBox {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}




