<div class="thankYouBox">
  <h1 class="text" [@enter] style="font-size: 2rem">THANK YOU </h1>
  <h1 class="text" [@slowEnter]>WE ARE GRATEFUL THAT YOU CHOSE TO PURCHASE ONE OF OUR DIGITAL ART PIECES. WE
    STRIVE TO PROVIDE A UNIQUE SELECTION OF DIGITAL ART TO SUIT YOUR TASTE AND STYLE. WE UNDERSTAND THAT ART IS NOT JUST
    A
    MATERIAL OBJECT, BUT A WAY TO EXPRESS YOURSELF, TO TELL A STORY AND EVOKE EMOTIONS. THAT'S WHY WE SPECIALIZE IN
    DIGITAL ART, MAKING IT ACCESSIBLE TO EVERYONE, NO MATTER WHERE YOU ARE.</h1>
</div>
