<mat-spinner *ngIf="products == null"></mat-spinner>
<div class="mainContainer" *ngIf="products!=null" [@enter]>
  <h1 class="title">Collections</h1>
  <mat-chip-listbox multiple #matChipListbox aria-label="Category selection"
                    style="margin-bottom: 3rem;align-self: center">
    <mat-chip-option #all (click)="setCategory(all)" [value]="'all'" selected>All</mat-chip-option>
    <mat-chip-option #digital (click)="setCategory(digital)" [value]="1">Digital</mat-chip-option>
    <mat-chip-option #paint (click)="setCategory(paint)" [value]="2">Paint</mat-chip-option>
    <mat-chip-option #ai (click)="setCategory(ai)" [value]="3">AI</mat-chip-option>
  </mat-chip-listbox>
  <div class="cards">
    <div class="card" *ngFor="let product of filteredList">
      <img class="mh-100" src="assets/Art/{{product.name}}.png" alt="Photo of {{product.name}}">
      <div class="card-body">
        <h2 class="card-title">{{product.name}}</h2>
        <h3 class="card-text">{{product.designer}}</h3>
        <a [routerLink]="['/products',product.id]" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>


